@inherits LayoutComponentBase

<Layout SideWidth="0" IsPage="true" ShowGotoTop="true" ShowCollapseBar="true"
        IsFullSide="@IsFullSide" IsFixedHeader="false" IsFixedFooter="false" ShowFooter="true"
        Menus="@Menus" UseTabSet="false" AdditionalAssemblies="new[] { GetType().Assembly }" class="@Theme">
    <Header>
     
    </Header>
    <Side>
        <div class="layout-banner">
            <img class="layout-logo" src="_content/DotNetCore.CAP.UI/images/logo.png" />
            <div class="layout-title">
                <span>CAP Dashboard</span>
            </div>
        </div>
      
    </Side>
    <Main>
        <CascadingValue Value="this" IsFixed="true">
            @Body
        </CascadingValue>
    </Main>
    <Footer>
        <div class="text-center flex-fill">
            <a class="page-layout-demo-footer-link" href="https://gitee.com/LongbowEnterprise/BootstrapAdmin" target="_blank">Bootstrap Admin</a>
        </div>
    </Footer>
</Layout>

<Toast />
<Dialog />
<PopoverConfirm />
<Message />
<SweetAlert />