language: csharp
sudo: required
mono: none

matrix:
  include:
  - os: linux
    dist: trusty # Ubuntu 14.04
    dotnet: 1.0.1
    mono: none
    env: DOTNETCORE=1
    sudo: required
  - os: osx
    osx_image: xcode7.3 # macOS 10.11
    dotnet: 1.0.1
    mono: none
    env: DOTNETCORE=1

before_install:
  - chmod a+x ./build.sh
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then ulimit -n 1024 ; fi

install:
  - export DOTNET_CLI_TELEMETRY_OPTOUT=1
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then rvm get stable; brew update; brew install openssl; fi

script:
  - ./build.sh