version: '{build}'
os: Visual Studio 2019
environment:
  BUILDING_ON_PLATFORM: win
  BuildEnvironment: appveyor
  Cap_MySql_ConnectionString: Server=localhost;Database=cap_test;Uid=root;Pwd=Password12!;Allow User Variables=True;SslMode=none
services:
  - mysql
before_build:
  - ps: dotnet tool install --global FlubuCore.GlobalTool --version 5.1.1
build_script:
  - ps: flubu
test: off
artifacts:
- path: artifacts/*.nupkg
deploy:
  provider: NuGet
  on:
    appveyor_repo_tag: true
  api_key:
    secure: PZXRBOGLyhYLP7ulHfrh6MnkqB8CstuitgbLcJr3cZkLJLLzPH0ahvuTtmhWxtR2            
  skip_symbols: true
  artifact: /artifacts\/.+\.nupkg/
