version: '{build}'
os: Visual Studio 2022
environment:
  BUILDING_ON_PLATFORM: win
  BuildEnvironment: appveyor
  Cap_MySql_ConnectionString: Server=localhost;Database=cap_test;Uid=root;Pwd=Password12!;Allow User Variables=True;SslMode=none
services:
  - mysql
before_build:
  - ps: dotnet tool install --global FlubuCore.GlobalTool --version 6.3.2
build_script:
  - ps: flubu
test: off
artifacts:
- path: artifacts/**
deploy:
  provider: NuGet
  on:
    appveyor_repo_tag: true
  api_key:
    secure: hZmhgcYCuVBJzPljwysslhumZnIlR+Y1FdlT6+XsfHvTXwUzAeCAurcppZ4cKNTz
  skip_symbols: false
  artifact: /artifacts\/.+\.s?nupkg/
